@import "../../node_modules/include-media/dist/include-media";
@import "fonts";
@import "vars";
@import "mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	&:before, &:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
}

html{
	$max-font-size: map_get($body, max-font-size);
	$min-font-size: map_get($body, min-font-size);
	font-size: 16px;
	min-height: 100%;
	height: 100%;
	@include responsive-font(vw($max-font-size), $min-font-size, $max-font-size);
}

body {
	font: 400 rem(16px)/1 $Poppins;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	color: $black;
	opacity: 1;
	display: flex;
	flex-direction: column;
}

a {
	transition: all .3s;
	display: inline-block;
	color: #333;
	text-decoration: none;
	&:hover,
	&:active {
		color: #333;
	}
	&.disabled {
		color: #333;
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

a,
input,
button,
textarea,
select {
	outline: none;
	border: none;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style: none;
}
input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input:focus::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	transition: all .3s;
	color: transparent !important;
}

input:focus::-moz-placeholder {
	/* Firefox 19+ */
	transition: all .3s;
	color: transparent !important;
}

input:focus:-ms-input-placeholder {
	/* IE 10+ */
	transition: all .3s;
	color: transparent !important;
}

input:focus:-moz-placeholder {
	/* Firefox 18- */
	transition: all .3s;
	color: transparent !important;
}
[data-svg] {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.svg {
	display: inline-block;
	transition: all .3s;
	height: rem(20px);
	width: rem(20px);
}
.flex{
	display: flex;
	flex-flow: row wrap;
}
.wrapper {
	position: relative;
	flex: 1 0;
}
main.content {
	position: relative;
	display: block;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 rem(15px);
	margin: 0 auto;
}
section {
	position: relative;
}
[data-thumb] {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $white;
	background-size: 100%;
	position: relative;
	overflow: hidden;
	transition: all .3s;
	width: 100%;
	img {
		display: block;
		opacity: 0;
		width: 100%;
	}
	&.hover-zoom {
		&:hover {
			background-size: 110%;
		}
	}
}

//header
.header{
	position: absolute;
	z-index: 888;
	left: 0;
	top: 0;
	width: 100%;
	transition: all .3s;
	background-color: rgba(255,255,255,0);
	&.fixed{
		position: fixed;
		background-color: rgba(255,255,255,.95);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	}
	&__content{
		height: rem(90px);
		align-items: center;
		justify-content: flex-end;
		transition: all .3s;
	}
	&__toggle-menu{
		display: none;
		position: relative;
		cursor: pointer;
		order: -1;
		transition: all .3s;
		span {
			display: block;
			width: 35px;
			height: 3px;
			background: $white;
			margin: 5px 0;
			transform: rotate(0deg);
			transition: .5s all ease;
			opacity: 1;
			&:nth-child(1) {
				.menu-open &{
					transform: rotate(45deg) translateY(11px);
				}
			}
			&:nth-child(2) {
				.menu-open &{
					opacity: 0;
				}
			}
			&:nth-child(3) {
				.menu-open &{
					transform: rotate(-45deg) translateY(-11px);
				}
			}
		}
	}
}
.logo{
	display: block;
	img{
		display: block;
	}
}
.btn {
	border: 2px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	padding: 0 rem(15px);
	height: rem(40px);
	font-size: rem(14px);
	line-height: 1;
	transition: all .3s;
	outline: none;
	box-shadow: none;
	min-width: rem(145px);
	text-decoration: none;
	font-weight: 600;
	border-radius: rem(200px);
	letter-spacing: 0.87px;
	&--wrap {
		display: block;
	}
	&--red {
		background-color: $red;
		border-color: $red;
		color: $white;
		&:hover {
			background-color: transparent;
			color: $red;
		}

	}
}

/*
*************
    FOOTER
*************
*/
.footer{
	position: relative;
	z-index: 777;
	width: 100%;
	overflow: hidden;
}
